doctype
html
  head
    title Testing 
  body 
    .container
      .row 
        .col-12
          h1 This is something
          p.marko This is some paragraph
    script(type="application/javascript", src="/scripts/test.js")
      